body{
    font-family: "Microsoft Yahei";
}

.carousel-inner{
}
.navbar{
    margin-bottom: 0;
}

.navbar{
	background-color:#fff;
}

h3{
    line-height: 30px;
    font-family: 隶书;
}

.an h2{
    text-align: left;
}

.bn{
    font-size: 15px;
    line-height: 25px;
}


.carousel-caption{
    color:snow;
    animation-name: row;
    animation-duration: 1s; 
    visibility: visible; 
}
p{
    text-shadow:0 1px 2px rgba(0,0,0,.6);
	font-size: 1.3em;
    line-height: 30px;
    text-indent: 2em;
    
}
p:hover{
    display: block;
    
}

.slideanim{
	visibility:hidden;
}

.slider {
    animation-name: slider;
    -webkit-animation-name: slider; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}

.feature-box .feature-box-inner {
    
    transition: all .5s;
    background: #fff;
    padding: 20px;
    margin: auto;
}
.box1{
	border-left:1px solid #eee;
}
.man{
	margin:40px 0;
}

@keyframes slider {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slider {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
.carousel-inner
{
    max-height: 830px;
	
}


h1{
    text-align: center;
}

.img{
    position: relative; 
}


@keyframes row{
    0%{
        opacity: 0;
        transform: translateY(70%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

.scroll-up {
    position: fixed;
    
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}

.list-group{
    width: 90%;
    margin: 5% 5%;
	
}

.item:active{
	
	width:100%;
	height:100%;
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.thumbnail .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

.thumbnail .btn:hover, .btn:focus {
    background-color: #fff;
    color: #000;
}

.pfblock-title{
    font-weight: 800;
	text-align:center;
}

.pfblock-subtitle {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-style: normal;
	font-size: 18px;
}

.pfblock-line {
	background: rgba(135, 135, 135, 0.5);
	width: 100px;
	height: 1px;
	margin: 30px auto;
}

.pfblock-icon {
	font-size: 32px;
}

@media screen and (max-width: 768px){
	p{
		font-size:12px;
		line-height:15px;
		text-indent:2em;
	}
	
	.carousel-caption{
		position:absolute;
		right:15%;
		left:15%;
		z-index:10;
		padding-top:0;
		color:#fff;
		text-align:center;
		text-shadow: 0 1px 2px rgba(0,0,0,.6);
	}
	
	h3{
		margin-bottom:0;
		margin-top:0;
	}
	
	.carousel-indicators li{
		display:none;
	}
	
}

@media screen and (max-width: 468px){
	.carousel {
    display: none;
}


}

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 100%;
	list-style: none;
	text-align: center;
}

.grid h2{
    font-size: 20px;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: auto;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption  a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption  a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
 
figure.effect-bubba {
	background: #9e5406;
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 10%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
    color: #fff;
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cbp-qtrotator {
	position: relative;
	margin: 3em auto 0em auto;
	max-width: 90%;
	width: 90%;
}

.cbp-qtrotator .cbp-qtcontent {
	position: absolute;
	min-height: 200px;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 2em 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 100%;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
	border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
	position: relative; 
	z-index: 100;
	pointer-events: auto;
	opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
	content: " ";
	display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
	clear: both;
}

.cbp-qtprogress {
	position: absolute;
	background: #FF5252;
	height: 1px;
	width: 0%;
	top: 0;
	z-index: 1000;
}

.cbp-qtrotator blockquote {
	margin: 0;
	padding: 0;
    border: 0;
    font-size: 12px;
}

.cbp-qtrotator blockquote p {
	font-size: 2em;
	color: #888;
	font-weight: 300;
	margin: 0.4em 0 1em;
}

.cbp-qtrotator blockquote footer {
	font-size: 1.2em;
}

.cbp-qtrotator blockquote footer:before {
	content: '― ';
}

.cbp-qtrotator .cbp-qtcontent img {
	float: right;
	margin-left: 3em;
}

#footer {
    background: #222;
    text-align: center;
    padding: 40px 0;
    color: #FFF;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.feature-box-inner:hover{
	color:#fff;
	background-color: rgba(239, 197, 10, 0.33);
	border-radius:25%;
}

.copyright a{
	color:#8FC93F;
}

.copyright a:hover{
	color:#8bf3a7;
}

.feature-box-icon {
    color: rgba(91, 241, 173, 0.67);
    font-size: 36px;
    text-align: center;
}

.talk-about-us{
    padding-bottom: 110px;
    padding-top: 100px;
}

.talk-about-us strong{
    color: #8FC93F; 
    font-weight: 600;
    font-style: italic;
}

.talk-about-us .item > p{
    max-width: 650px; 
    margin: 0 auto; 
    line-height: 1.9;  
    margin-bottom: 20px;
}

.talk-about-us .carousel-indicators li {
    background-color: #DCDCDC;
    border: 0;
    border-radius: 0;
    height: 4px;
    margin: 1px;
    width: 30px;
}


.talk-about-us .item > p {
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.9;
    margin-bottom: 20px;
}

.talk-about-us .carousel-indicators li.active {
    background-color: #8FC93F;
}

.talk-about-us .carousel-indicators {
    bottom: -70px;
}


@media screen and (max-width: 30.6em) { 

	.cbp-qtrotator {
		font-size: 70%;
	}

	.cbp-qtrotator img {
		width: 80px;
	}

}